*
{
    padding: 0;
    margins: 0;
}
body
{
    font-family: sans-serif;
    background-size: 100%;
}
.menu
{
    background: rgb(0, 100, 0);
    text-align: center;
}
.menu ul
{
    display: inline-flex;
    list-style: none;
    color: #fff;
}
.menu ul li
{
    width: 20vw;
    padding: 0.5vw;
    margin: 0.5vw;
}
.menu ul li a
{
    text-decoration: none;
    color: #fff;
}
.menu ul li:hover
{
    background: #2bab0d;
    border-radius: 1vw;
}
.submenu
{
    display: none;
}
.menu ul li:hover .submenu
{
    display: block;
    position: absolute;
    background: rgb(0, 100, 0);
}
.menu ul li:hover .submenu ul
{
    display: block;
}
